html {
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    font-size: 1.4rem;
    color: #6f889b;
    margin: 0;
  }


/*******************************************MENU DE NAVEGACION**************************************/
#navigation-menu {
    width: 100%;
    height: 55px;
    background: #365062;
    border-bottom: 3px solid #9bae6e;
    z-index: 10;    
    opacity: 0.75;
    
   /* opacity: 0.75;
    position: fixed;
    bottom: 0; */
}
.navigation-menu-show{
    position: absolute;
    bottom: 0; 
}

.nav-item {
    padding: 1%;
}
.nav-item a {
    font-size: large;
    color: white;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/*******************************************MENU DE NAVEGACION**************************************/



/***************************************   SECCIONES GENERAL    *******************************************************
*Esta sección.container crea una seccion con todo el ancho de la pantalla que se ajusta al contenido a lo alto. 
Si se desea que cada seccion cambie su apariencia en cuando a color, se puede sobreescribir 
*/
.section-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: beige;
   /* height: 650px;   */
}
/***************************************  FIN DE SECCIONES GENERAL    ********************************************************/






/***************************************   SECCION HEADER CON IMAGEN    ***********************************************/
.header-container{ 
    height: 100vh;
    background: url('../../img/header.jpg') no-repeat center;  
    background-size: cover;
}
/***************************************  FIN SECCION HEADER CON IMAGEN   **********************************************/


/******************************************  SECCION FOOTER  *******************************************************
 * Creación de un footer que se mantiene en la pantalla abajo
 * Se crea el footer utilizando la rejilla de Boostrap, esto con el fin de crear varias columnas
    Una con la información, redes sociales y otra con un formulario para obtener información
 */
.section-footer{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #3d3e3e; 
    position:relative;
}
.top-footer{   
    width: 100%;  
    background-color:#9bae6e;
    height: 10px;
}

.middle-footer{
    text-align: center;    
    padding: 2%;
    color: white;
}

.bottom-footer{
    background: #333333;
    width: 100%;
    height: 30px; 
    text-align: center;
}

.middle-footer div:nth-child(2){
    border-right: 1px solid white;
    border-left: 1px solid white;    
    text-align: center;
}

.middle-footer div:nth-child(2) i{
    padding-right: 4rem;
}

/******************************************  FIN SECCION FOOTER  ********************************************************/

