html {    
    font-family: Baskerville Old Face, Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1rem;
}

    #menuResponsive{
        display: none;
    }
    
    .imgmenu{
        display: none;
    }

h1{
    font-size: 3em;
    font-style: normal; font-variant: normal;
    color: #fff;
    text-align: center;
    font-family: Baskerville Old Face;    
}

h2{
    font-size: 2.7em;
    color: #334C6F;
    font-family: Baskerville Old Face;
    text-align: center;
}

h3{
    font-size: 2em;
    font-style: normal; font-variant: normal;
    color: #FFF;
    text-align: center;
    font-family: Baskerville Old Face;
}

h4{
    font-size: 1.5em;
    font-style: normal; font-variant: normal;
    color:  #334C6F;
    text-align: center;
    font-family: Baskerville Old Face;
}

p {
    font-size: 1.25em;
    font-family: Segoe UI;
    color: #707070;
    text-align: center;    
}

hr{
    border-top: 1px solid #334C6F;
    text-align: center;

}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*******************************************MENU DE NAVEGACION**************************************/
#navigation-menu {
    width: 100%;    
    background: #030303;
    z-index: 10;    
    opacity: 0.75;    
    /* opacity: 0.75;
     position: fixed;
     bottom: 0; */
    
}
.navigation-menu-show{
    position: absolute;
    bottom: 0; 
    margin-top: -50px;
}

.nav-item {
    padding: 0.5%;
    color: white;
}
.nav-item a {
    font-size: large;
    color: white;
    font-size: 1.25em;
}

.brand {
    float: left;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #334C6F;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 2em;
}

/*******************************************MENU DE NAVEGACION**************************************/



/***************************************   SECCIONES GENERAL    *******************************************************
*Esta secci贸n.container crea una seccion con todo el ancho de la pantalla que se ajusta al contenido a lo alto. 
Si se desea que cada seccion cambie su apariencia en cuando a color, se puede sobreescribir 
*/
.section-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: white;

}
/***************************************  FIN DE SECCIONES GENERAL    ********************************************************/

/***************************************   SECCION HEADER CON IMAGEN    ***********************************************/
.header-container{ 
    padding-top: 15%;
    padding-bottom: 5%;
    background: url('../../img/portada.png') no-repeat center;  
    background-size: cover;
}
/***************************************  FIN SECCION HEADER CON IMAGEN   **********************************************/

/******************************************   SECCION CARRUSEL  ********************************************************/

.parallax { 
    background-attachment: fixed;    
}

.carousel-caption{    
    top: 49%; 
    transform: translateY(-50%); 
    font-family: Baskerville Old Face, Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
.carousel-indicators{    
    top: 90%; 
    transform: translateY(-5%); 

}

.portada1{    
    background: url('../../img/portada1.jpg') no-repeat center; 
    height: 100vh;   
    background-size: cover;
}
.portada2{
    background: url('../../img/portada2.jpg') no-repeat center; 
    height: 100vh;   
    background-size: cover; 
}
.portada3{
    background: url('../../img/portada3.jpg') no-repeat center; 
    height: 100vh;   
    background-size: cover;
}

.pantalla-1-Carrusel {
    font-size: 1.7em;
    margin-top: -15%;
    background: rgba(5, 5, 5, 0.5);
    width: 100%;
    margin-left: -15%;
    height: 250px;
}

.pantalla-2-Carrusel {
    font-size: 1.25em;
    margin-left: -10%;
    background: rgba(5, 5, 5, 0.5);
    width: 30%;
    height: 95%;
    top: 44%;
}

.pantalla-3-Carrusel {
    font-size: 1.25em;
    margin-left: 50%;
    background: rgba(5, 5, 5, 0.5);
    width: 30%;
    height: 95%;
    top: 44%;
}

.pantalla-3-Carrusel .textoCarrusel{
    margin-top: 35%;
}

.pantalla-2-Carrusel .textoCarrusel{
    margin-top: 35%;
}

.tituloCarrusel{
    font-size: 3em;
    font-family: dearponypersonalusebold; 
    font-weight: bold;
    color: white;
}


.textoCarrusel{ 
    color: white;  
}

.textoAzul{
    color:#00aaff; 
    font-family: endolittaregular;
    font-size: 1.3em;
}


/******************************************  FIN SECCION CARRUSEL  ********************************************************/


/******************************************  SECCION NUESTRA EMPRESA  *******************************************************/
.nuestra-empresa {
    padding: 10% 5% 8% 5%;
    background-color: #F6F6F5;
}

.nuestra-empresa h2  {
    padding-bottom: 5%;
}

#comprimiso{
    display: none;   
}
#confianza{
    display: none;
}
#liderazgo{
    display: none;
}

#calidad{
    display: none;
}


/******************************************  SECCION NUESTROS VALORES  *******************************************************/


#valores { 
    background-color: #334C6F;
    height: 25%;
}
.contenedorValores {
    padding: 1% 2%;
    position: relative;
}

.contenedorValores:hover{
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */  
}

/******************************************  SECCION NUESTRA ADUANA  *******************************************************/

.nuestras-aduanas h2{
    color: #fff;
}


/******************************************  SECCION NUESTROS SERVICIOS **************************************************/
.nuestros-servicios{
    padding: 5% 3% 5% 3%;    
}

.nuestros-servicios div.row{
    padding-top: 5%;    
}

.servicio{
    padding: 3% 2%;
    position: relative;

}

.servicio h4{    
    padding-top: 30%;
}

.servicio p{
    font-size: 1em;
    padding: 10% 5% 2% 5%;
}

.servicio:hover{
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);        /* Opera */


}

.img-servicio{
    background-color: white;
    padding: 1.5%;
    text-align: center;       
    position: absolute;
    right: 38%;
    top: 0;
}
.borde{
    border: 1px solid #334C6F;
    padding: 2%;  
    height: 100%;    
}

/******************************************  SECCION ADUANAS  ******************************************************/
.nuestras-aduanas{
    padding: 5% 3% 5% 3%;
}

#costaRica-map{
    padding-top: 10%;
}



/***************************************   SECCION PARALLAX    ********************************************************
/*Necesario para crear el efecto parallax, en caso de hacer varios se debe cambiar el background de acuerdo
 * a lo que se necesite. Un posible nombre para cada clase puede ser parallax-header, parallax-about, etc*/
.parallax {    
    background: url('../../img/container.jpg') no-repeat center;  
    background-size: cover;
    background-attachment: fixed;
    height: 680px;    
}


/***************************************  FIN SECCION PARALLAX    ****************************************************/






/******************************************  SECCION ALIANZAS  ******************************************************/

.alianzas p{
    text-align: left;
    font-size: .9em;
}

.alianzas div{
    text-align: right;
}

.nuestras-alianzas {
    padding: 5% 3% 5% 3%;  
    position: relative;
}


.nuestras-alianzas div.row{
    padding-top: 3%;    
}

.linea {
  margin:0px 1%;
  width:29%;    
  border-top:2px solid #999;
  position: relative;
  top:10px;
  float:left;
  color: #334C6F;
  }

.leyenda {
    font-size: 2.7em;
    color: #334C6F;
    font-family: Baskerville Old Face;
    text-align: center;
    margin-top: -15px;
 }




/******************************************  SECCION Contactenos  ************************************************/
.nuestro-contacto{
    background-color:  #F8F8F8;
}
.nuestro-contacto div:nth-child(1) {
    background-color: #334C6F;
}

.nuestro-contacto div:nth-child(1) h2 {
    color:#fff;
    padding-top: 5%; 
    padding-bottom: 5%; 
}

.nuestro-contacto div:nth-child(1) h3 {
    color:#fff;
    text-align: left;  
    font-size: 1.5em;
    font-family: Segoe UI;

}
.nuestro-contacto div:nth-child(1) p {
    color:#fff;
    text-align: left; 
    font-size: 1em;
    font-family: Segoe UI;   
}

.nuestro-contacto div article:last-child{
    padding: 5% 1% 5% 1%;
}

.icono-contacto{
    text-align: center;
}

#divFormulario{
    width: 80%;
    background: #f8f8f8;
    margin-left: auto;
    margin-right: auto;
}
.nuestro-contacto div:nth-child(2) h2 {
    color: #334c6f;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btnContacto{
    display: flex;
    justify-content: center; 
}

#btnEnviar{
    background: #334c6f;
    width: 25%;
    border-color: #334c6f;
    color: white;
    border-radius: 5px;     
}
#btnEnviar : hover{
    color: purple;
    background: #51adf3;
    
}
.pointer {
    cursor: pointer;
}


/******************************************  SECCION FOOTER  *******************************************************
 * Creaci贸n de un footer que se mantiene en la pantalla abajo
 * Se crea el footer utilizando la rejilla de Boostrap, esto con el fin de crear varias columnas
    Una con la informaci贸n, redes sociales y otra con un formulario para obtener informaci贸n
*/
.section-footer{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #2d2d2d; 
    position:relative;
}

.middle-footer{
    text-align: center;    
    padding-top: 2%;
    color: white;

}
#foterLogo{
    margin: auto;
}

#redesSocialesFooter{
    margin: auto;
}
#lineaFooter {
    background: #334c6f;
    height: 30px;
    margin-top: 1%;
}

.derechosReservados{
    font-size: 0.6rem;
}

/******************************************  FIN SECCION FOOTER  ********************************************************/


.colores{
    color:#334C6F !important;
}

.colores-invertido{
    color:#FFF !important;
}



/******************************************  RESPONSIVE DESIGN  ********************************************************/





/*** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) and (max-width: 979px) {
    body { 
        font-size: 1rem;
        
    }    
    .leyenda{
        font-size: 2.0em;
    }
    
    .linea {
        width: 25%;
    }
    
    .jsmaps-select mobile{
        display: none !important;
    }
    
    #contactenos{
        margin-bottom: 3%;
    }
  
    
    .cuadros{
        width: 100%;
        height: 100%;
    }
    .contenedorCuadros{
        height: 85%;
        margin-left: -4%;
        margin-top: 0%;  
    }
    svg{
        height: 217px !important;
        width: 100% !important;
    }
    .jsmaps-text{
        width: 420px !important;
    }
    
    .pantalla-1-Carrusel {
        width: 100%;
        margin-left: -15%;
        height: 250px;
    }

    .pantalla-2-Carrusel {
        width: 60%;
        height: 95%;
        top: 44%;
    }

    .pantalla-3-Carrusel {
        width: 60%;
        height: 95%;
        top: 44%;
        margin-left: 15%;
    }
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    .nav-item a {
        font-size: 0.9em;
    }
    
    .leyenda{
        font-size: 2.0em;
    }
    
    .linea {
        width: 25%;
        margin: 0px 2%;
    }
    
    .col-12 img{  
        margin-right: 35%;
    }
    
    .container {
    max-width: 98%;
    }
    
    .img-servicio{
        right: 37%;
        top: -5%;
    }
   .imgmenu {
    margin-right: 10px;
    padding-top: 5px;
    display: none;
    float: right !important;
    }
    
    #contactenos{
        margin-bottom: 3%;
    }
    
    .cuadros{
        width: 100%;
        height: 100%;
    }
    .contenedorCuadros{
        height: 85%;
        margin-left: -4%;
        margin-top: 0%;  
    }
    
}

/* Landscape phones and down */
@media (max-width: 630px) {    
    .linea {
       display: none;
        
    }
    .leyenda{
        margin: auto;
    }
    
    .imgmenu {
        display: inline;
    }
    
   .justify-content-end{
        display: none;
    }
    
    #menuResponsive{
        display: inline;
        top: 0px;
        width: 60%;
        height: 100%;
        margin: 0;
        position: fixed;
        left: -100%;
        z-index: 1;
        background: #40403f;

    }
    
    .fas{
        color: white;
    }
    
    .itemMenuR{
        color: white !important;
    }
    
    
    .navResposive{
        margin-top: 22%;
        
    }

    #menuResponsive .navResposive .nav-item{
        list-style:none;
        border-bottom: 1px solid white;
        margin-left: -20%;
        margin-right: 3%;
        padding: 5%;
    }
    
    navigation-menu{
        margin-top: 0%;
    }
    
    .parallax{
        height: 750px;
    }   
    
    .navResposive{
        width: 5;
        height: 5;
    }
}

@media (max-width: 570px) { 
  
     .col-12 img{  
        margin-right: 25%;
    }
    
    .borde{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        
    }
    .img-servicio{
        right: 41%;
    }
    
    .servicio{
        margin-bottom: 58px;
    }
}

